<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h2>Crop Prediction Form</h2>
    <form action="{{ url_for('crop_recommendation') }}" method="post">
        <label for="N">Nitrogen (N):</label>
        <input type="text" id="N" name="N" placeholder="value should be between 0 to 150"><br><br>

        <label for="P">Phosphorus (P):</label>
        <input type="text" id="P" name="P" placeholder="value should be between 0 to 150"><br><br>

        <label for="K">Potassium (K):</label>
        <input type="text" id="K" name="K" placeholder="value should be between 0 to 210"><br><br>

        <label for="temperature">Temperature (°C):</label>
        <input type="text" id="temperature" name="temperature" placeholder="value should be between 0 to 50"><br><br>

        <label for="humidity">Humidity (%):</label>
        <input type="text" id="humidity" name="humidity" placeholder="value should be between 10 to 100"><br><br>

        <label for="ph">pH:</label>
        <input type="text" id="ph" name="ph"placeholder="value should be between 3 to 10"><br><br>

        <label for="rainfall">Rainfall (mm):</label>
        <input type="text" id="rainfall" name="rainfall" placeholder="value should be between 20 to 300"><br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>